altgraph==0.16.1
astroid==2.2.5
autopep8==1.4.4
Babel==2.8.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
Cython==0.29.13
Django==2.2.7
django-ckeditor==5.8.0
django-cleanup==4.0.0
django-crispy-forms==1.8.1
django-friendship==1.8.2
django-js-asset==1.2.2
django-language-field==0.0.3
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
django-phonenumbers==1.0.1
django-social-share==1.3.2
docutils==0.15.2
future==0.18.1
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
pefile==2019.4.18
pep8==1.7.1
phonenumbers==8.11.1
Pillow==6.2.1
pycodestyle==2.5.0
Pygments==2.4.2
PyInstaller==3.5
pylint==2.3.1
pytz==2019.3
requests==2.22.0
rope==0.14.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.7
virtualenvwrapper-win==1.2.5
wrapt==1.11.1
