
.main{

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_960_720.jpg) fixed ;
}


