<nav class="navbar shadow navbar-expand-lg navbar-light sticky-top">
    <!--bar rengi koyu     responsive bar   yazılar beyaz-->
    <div class="container py-2">
        <!--container ile objeleri biraz daha ortaya aldık, py-2 ile barı genişlettik(1-5 arası değer alıyor)-->
        <a href="{% url 'index' %}" class="navbar-brand">PYBlog</a>
        <!--şirket logosu için link ve etiket-->

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <!--açılır kapanır menu, hangi objelere uygulanacak-->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- data-target olarak bu divi gösretiyoruz aynı ismi ile -->
            <ul class="navbar-nav mr-auto">
                <!--margin-left sola dayalı sıralar(ml-margin right)-->
                <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                    <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                    <a href="{% url 'article:about' %}" class="nav-link">About</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'articles' %}active{% endif %}">
                    <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                    <a href="{% url 'article:articles' %}" class="nav-link">Articles</a>
                </li>

                <li class="nav-item {% if request.resolver_match.url_name == 'authors' %}active{% endif %}">
                    <a href="{% url 'article:authors' %}" class="nav-link">Yazarlar</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'creat' %}active{% endif %}">
                        <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                        <a href="{% url 'article:creat' %}" class="nav-link">Detail</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                <!--margin-left sola dayalı sıralar(ml-margin right)-->
                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                        <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                        <a href="{% url 'user:profile' %}" class="nav-link">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                        <a href="{% url 'user:logout' %}" class="nav-link">Logout</a>
                    </li>

                {% else %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                        <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                        <a href="{% url 'user:register' %}" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        <!--objeler arası boşluk bırakıyoruz(1-5 arası değer alır)-->
                        <a href="{% url 'user:login' %}" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
		  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li>
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</div>
  </nav>-->