{% extends 'layout.html' %}

{% block body %}

<div id="about" class="container">
    <div class="text-center py-2">
        <h1>About Us</h1>
        <hr>
            
        <style>
            .card {
                background-color: rgb(232, 242, 243);

            }

            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        </style>
    </div>

    <div class="container" style="font-family: inherit; font-size:1.125rem;">
        <div>
            <img style="height: 400px; width: 100%; object-fit: cover;" src="/static/img/sinifresmi.png" alt="">
        </div>
        <div class="text-justify my-5" style="text-indent:50px">
            <p>
            This project was accomplished by a group of programming trainees who
        fled to Netherlands as refugees and devoted to be software programmers
            with the help of volunteer programming course PyCoders that was founded
            by experienced IT experts with refugee backgrounds.
            After having a knowledge of Python programming for 5 months, we worked
            through Django web framework for a month and we finalized the course
            with a final project under the supervision of our mentors.
        Our final project is a blog that gives some practical information about
            living in Netherlands. You can find some articles, recent news and posts.
        You are free to create a membership on the site and comment all the
        articles and posts.
            </p>
        </div>
        
        <hr>
        
        <div class="w-25 mx-auto my-5 text-center">
            <h1 class="text-center mb-4">Director</h1>
            <div class="row" style="with:200px; height:200p">
                <div class="col mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/erkek_avatar.jfif" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Fatih DEMIR</h5>
                        </div>
                        <div class="card-footer">
                            <a href="" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://linkedin.com/in/fatih-demir-4b9a16169/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
        <div class="my-5 text-center">
            <h1 class="text-center mb-4">Mentors</h1>
            <div class="row">
                
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/huzeyfe_eroglu.jfif" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Ali Huzeyfe EROGLU</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/hzyfPy" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://linkedin.com/in/ali-huzeyfe-eroglu-719317180" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/irfan.jpg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Irfan AKGUL</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/irfanakgul" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/mrakgul/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/bayan-avatar.jpg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Beyzanur Karaman</h5>
                        </div>
                        <div class="card-footer">
                            <a href="" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="my-5 text-center">
            <h1 class="text-center mb-4">Project Team</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/sehri.jpeg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Sehri GOKCAN</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/sehrigokcan" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://nl.linkedin.com/in/sehri-gokcan-01517b189/nl" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/rukiye.jpeg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Rukiye AYDOGDU</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/rukiye-41" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/rukiye-elitok-b810aa4b" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/naim.jpeg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Naim UCAR</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/naimucar" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://nl.linkedin.com/in/naimens-ucares-96a874188" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/erkek_avatar.jfif" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Faruk OZ</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/mfarukoz" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/faruk-%C3%B6zt%C3%BCrk-a57929189/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/erkek_avatar.jfif" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Murat OZTURK</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/Muratozturknl" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/m-murat-ozturknl-311876188/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/salih.jpg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Salih ARSLAN</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/salihagam" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/salih-arslan-a05405158" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/aydin.jpg" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Aydin DALLI</h5>
                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/dllaydin" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/aydin-dalli-677032188/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <img src="/static/img/erkek_avatar.jfif" class="card-img-top rounded-circle" alt="...">
                            <h5 class="card-title mt-4">Emrah  AKGUL</h5>

                        </div>
                        <div class="card-footer">
                            <a href="https://github.com/emrahnl" target="_blank"><img src="/static/img/github.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/emrah-a-b3b7a1175/" target="_blank"><img src="/static/img/linkedin.png" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock body %}


















