{% load social_share %}
{% block body %}
{% endblock body %}

<div class="d-flex justify-content-center text-center">
    <div class="mx-1">{% post_to_facebook object_or_url "<i class='fa fa-facebook-official'' aria-hidden='true'></i>" %}</div>
    <div class="mx-1">{% post_to_twitter "{{object.title}}" object_or_url '<i class="fa fa-twitter" aria-hidden="true"></i>' %}</div>
    <div class="mx-1">{% post_to_linkedin object.title object_or_url '<i class="fa fa-linkedin" aria-hidden="true"></i>' %}</div>
    <div class="mx-1">{% send_email object.title "{{object.title}}" object_or_url '<i class="fa fa-envelope" aria-hidden="true"></i>' %}</div>
</div>
