{% load social_share %}     
{% block body %}
{% endblock body %}

<table  align ="center" boder="2">
<tr><th>{% post_to_facebook object_or_url "<h3><i class='fa fa-facebook-official'' aria-hidden='true'></i></h3>" %}</th>
    <th></th><th></th><th></th>
<th>{% post_to_twitter "{{object.title}}" object_or_url '<h3 style="color:rgb(41, 151, 202)"><i class="fa fa-twitter" aria-hidden="true"></i></h3>' %}</th>
    <th></th><th></th><th></th>
<th>{% post_to_linkedin object.title object_or_url '<h3 style="color:rgb(27, 27, 112)"><i class="fa fa-linkedin" aria-hidden="true"></i></h3>' %}</th>
    <th></th><th></th><th></th>
<th>{% send_email object.title "{{object.title}}" object_or_url '<h2 style="color:rgb(247, 247, 252)"><i class="fas fa-mail-bulk    ">@</i></h2>' %}</th>
</tr>
</table>
